:root {
    --dim: 40px;
    --theme-color: rgb(77, 174, 207);
}

table, td {
    border: 1px solid var(--theme-color);
    border-collapse: collapse;
    padding: 0;
}

.cell {
    width: var(--dim);
    height: var(--dim);
    font-size: 1ex;
}

.blockedCell {
    background: var(--theme-color);
}